In [1]:
# set pandas

In [2]:
import pandas as pd

In [3]:
#import data set downloaded

In [4]:
dataset = pd.read_csv("budget_data.csv")

In [5]:
count = 0
total = 0
average = 0
minimum = 0
maximum = 0

In [6]:
#minimum_key = ""
#minimum_value = 0

In [7]:
#maximum_key = ""
#maximum_value = 0

In [8]:
#check data set loaded
dataset.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [24]:
print("Financial Analysis")
print("-----------------------")

#The total number of months included in the dataset.
total_months = len(dataset)
print(f"Total Months: {total_months}")

#The net total amount of Profit/Losses over the entire period.
profit_losses = "Profit/Losses"
profit_losses_sum = dataset["Profit/Losses"].sum()
print(f"Net total P&L: ${profit_losses_sum}")

#The average of the changes in Profit/Losses over the entire period.
total_pl = 0
dataset["Changes"] = dataset["Profit/Losses"].diff(1)

average_pl = dataset["Changes"].mean()
print(f"Average PL: ${round(average_pl,2)}")

#The greatest increase in profits (date and amount) over the entire period.
max_value = dataset["Changes"].max()
min_value = dataset["Changes"].min()

loc_date_max = dataset.loc[dataset["Changes"] == max_value,"Date"].values[0]
                         
                           
loc_date_min = dataset.loc[dataset["Changes"] == min_value,"Date"].values[0]



print(f"Greatest Increase in Profits: {loc_date_max} ${max_value}")

print(f"Greatest Decrease in Profits: {loc_date_min} ${min_value}")


    


#print(dataset)

Financial Analysis
-----------------------
Total Months: 86
Net total P&L: $38382578
Average PL: $-2315.12
Greatest Increase in Profits: Feb-2012 $1926159.0
Greatest Decrease in Profits: Sep-2013 $-2196167.0

In [17]:
loc_date_max

        Date
25  Feb-2012

In [10]:
dataset

        Date  Profit/Losses   Changes
0   Jan-2010         867884       NaN
1   Feb-2010         984655  116771.0
2   Mar-2010         322013 -662642.0
3   Apr-2010         -69417 -391430.0
4   May-2010         310503  379920.0
..       ...            ...       ...
81  Oct-2016         102685 -665765.0
82  Nov-2016         795914  693229.0
83  Dec-2016          60988 -734926.0
84  Jan-2017         138230   77242.0
85  Feb-2017         671099  532869.0

[86 rows x 3 columns]

In [ ]:


loc_date_max = dataset.loc[dataset["Changes"] == max_value,]
print(loc_date_max)                         
                           
loc_date_min = dataset.loc[dataset["Changes"] == min_value,"Date"]
print(loc_date_min)
    
'''
dataset.index[dataset["Changes"]].tolist()
print(loc_date_max)

dataset["Changes"].loc[max_value]
print(loc_date_max)
loc_date_min = dataset["Changes"].loc[min_value]
print(loc_date_min)
'''    






#The greatest decrease in losses (date and amount) over the entire period

In [ ]:
dataset.describe()